<div style="margin-top:125px;">
</div>
<div style="margin: 0 auto; height:300px;width:375px;background-image:url('assets/loginscreen.png');	display: -webkit-box;
	display: -moz-box;
	display: box;

	-webkit-box-orient: inline-axis;
	-moz-box-orient: inline-axis;
	box-orient: inline-axis;

	-webkit-box-align: center;
	-moz-box-align: center;
	box-align: center;border-left:7px dashed #eee;border-right:7px dashed #eee;border-top:7px solid #eee;border-bottom:7px solid #eee;" align="center">
<input type="text" style="width:100px;margin-bottom:20px;"><br>
<input type="text" style="width:100px;">
</div>
