// Place all the styles related to the Users controller here.
// They will automatically be included in application.css.
// You can use Sass (SCSS) here: http://sass-lang.com/
body {
   background-color: #eef;     
}
#monster0 {
position:absolute;
}
.gamegrid { 
float:left;
width:25px;
height:25px;

}
.one {
float:left;
width: 25px;
height: 25px;
}